@charset "utf-8";

html {
    font-size: 62.5%;
    overflow: -moz-scrollbars-vertical;    
    height: 100%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

body {
    font-size: 15px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #777;
    background: #f8f8f8;
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

::-moz-selection  {
	color: #f1f3f6;
	text-shadow:none;
	background: #212121;
}

::selection {
	color: #f1f3f6;
	text-shadow:none;
	background: #212121;
}

strong {
    font-weight: 700;
}

a,
a > * {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a,
a:hover,
a:focus {
    color: #212121;
    text-decoration: none;
    outline: 0;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    outline: 0;
}

*:focus,
*:after:focus,
*:before:focus {
    outline: 0;
}

*:after,
*:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/* Let's start fun */
.pithre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    background: tan;
    background: url("../images/bg1.jpg") center no-repeat;
    background-size: cover;
}
body:after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
}
.c {
    color: #fff;
}
.c h2 {
    font-size: 6rem;
    color: #fff;
}