h1 {
    font-size: 55px;
    line-height: 1.3em;
    margin: 0;
}
.page h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
    margin-top: 0;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 1.6em;
}

img {
  max-width: 100%;
  height: auto;
}
.entry-thumbnail {
  padding: 10px 0;
  margin: 0 auto;
}
.blog .post.single-entry {
  border: none;
}
.single-entry .post-content {
  border: 2px solid #f0f0f0;
}

.page header {
  margin-bottom: 70px;
}

.page header h1 {
    line-height: 1.625;
    margin-bottom: 10px;
}

.page header .sub-heading {
    color: #848484;
    font-size: 28px;
    margin-bottom: 30px;
}

.page header p {
  color: #848484;
}

body {
    background: #fff;
}

.social {
    margin-bottom: 20px;
}

.social i {
    font-size: 32px;
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
}

.social i:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.social a {
    color: #2b2b2b;
}

.social li {
    margin-left: 6px;
    margin-right: 6px;
}

.no-gutter> [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.logo {
    color: #2b2b2b;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 40px;
    text-transform: uppercase;
}

.logo:hover {
    color: #2b2b2b;
    text-decoration: none;
}

.blog {
    padding-top: 48px;
}

.blog header {
    text-align: center;
    margin-bottom: 40px;
}

.blog header p {
    margin-left: auto;
    margin-right: auto;
}

.blog .post-info, .blog h2 {
  text-align: center;
}

.post-info {
    color: #848484;
    font-size: 16px;
}

.blog h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.blog .excerpt {
    color: #848484;
    line-height: 1.7em;
    margin-bottom: 20px;
}

.blog .read-more {
    font-size: 16px;
    background: #337ab7;
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px;
}

footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 0;
}

footer a {
    color: #2b2b2b;
}

footer nav {
  margin-bottom: 32px;
}

footer nav a {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
}

footer nav a:hover {
    text-decoration: none;
    opacity: 0.7;
}

.copyright {
    color: #848484;
    font-size: 12px;
}

@media only screen and (max-width: 460px) {

    footer nav a {
        padding-left: 7px;
        padding-right: 7px;
    }
}


/* Custom CSS */
body, p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.625;
}
pre {
  background: transparent;
  color: inherit;
  border: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Tillana', cursive;
  font-weight: 500;
}
ul, ol {
  margin-bottom: 10px;
}
li {
  font-size: 18px;
  margin-bottom: 10px;
}
p {
  font-size: 18px;
  line-height: 1.625;
}
.site-header {
  width: 100%;
  height: 80px;
  padding: 20px 0px;
  border-bottom: 1px solid #eee;
}
.site-title {
  font-size: 20px;
  line-height: 40px;
}
.site-header nav {
  float: right;
}
.site-header ul {
  list-style: none;
}
.site-header a,
.site-header a:hover,
.site-header a:focus {
  color: #2b2b2b;
}
.site-header li {
  display: inline-block;
}
.site-header li a {
  display: block;
  line-height: 40px;
  padding: 0 16px;
}
.site-inner {
  max-width: 100%;
  background: #fff;
  transition: all .3s;
}
.entry {
  margin-bottom: 48px;
  border: 2px solid #f0f0f0;
}
.entry header {
  padding: 50px 50px 0;
  margin-bottom: 0px;
}
.entry h2 {
  line-height: 1.625;
  margin-bottom: 32px;
}
.entry-meta {
  margin-bottom: 20px;
}
.entry-content {
  padding: 32px 50px 50px;
}
.entry-more {
  padding-top: 20px;
}


.highlight {
  margin: 0px
  display: block
  overflow-x: auto
  padding: 15px 20px
  font-size: font-size
  font-family: font-mono
  line-height: font-size * line-height
}

.highlight {
  margin: 0px;
  display: block;
  overflow-x: auto;
  padding: 15px 20px;
  font-size: 14px;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  line-height: 22.400000000000002px;
}
.highlight table {
  margin: 0;
  width: auto;
}
.highlight table td {
  border: none;
}
.highlight table td.code {
  padding-right: 20px;
}
.highlight .gutter pre {
  color: #666;
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight {
  margin: 1.6em 0;
}
.article-entry .highlight .line {
  height: 1.6em;
}
/* Pagination */
.pagination {
  text-align: center;
}
.pagination span {
  display: inline-block;
  width: 40px;
}
.pagination a {
  display: inline-block;
  background: #337ab7;
  border-radius: 50%;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0px 5px;
  text-decoration: none;
}
.pagination a:hover,
.pagination a:focus {
  text-decoration: none;
}

/* Tags */
.article-tag-list {
  list-style: none;
}
/* Page */
.card {
  border: 2px solid #eee;
  padding: 50px;
  margin-bottom: 32px;
}
.int-card {
  -webkit-transition: opacity ease-in-out 3000ms;
  transition: opacity ease-in-out 3000ms;
}
.page-content h1 {
  margin-bottom: 32px;
}
.section-title {
  margin-top: 0px;
  margin-bottom: 32px;
}
.interests {
  font-size: 16px;
}
.iterests-inner {
  opacity: 0.4;
}
.card:hover .iterests-inner {
  opacity: 1;
}
/* Highlight */
.highlight {
  color: #a9b7c6;
  background: #282b2e;
}
.highlight .code .number,
.highlight .code .literal,
.highlight .code .symbol,
.highlight .code .bullet {
  color: #6897bb;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .deletion {
  color: #cc7832;
}
.highlight .code .variable,
.highlight .code .template-variable,
.highlight .code .link {
  color: #629755;
}
.highlight .code .comment,
.highlight .code .quote {
  color: #808080;
}
.highlight .code .meta {
  color: #bbb529;
}
.highlight .code .string,
.highlight .code .attribute,
.highlight .code .addition {
  color: #6a8759;
}
.highlight .code .section,
.highlight .code .title,
.highlight .code .type {
  color: #ffc66d;
}
.highlight .code .name,
.highlight .code .selector-id,
.highlight .code .selector-class {
  color: #e8bf6a;
}
.highlight .code .emphasis {
  font-style: italic;
}
.highlight .code .strong {
  font-weight: bold;
}
@media only screen and (max-width: 960px) {
  .site-logo {
    float: left;
  }
  .site-menu {
    float: right;
  }
  .iterests-inner {
    opacity: 1;
  }
}
@media only screen and (max-width: 480px) {
  body, p, li {
    font-size: 16px;
    line-height: 1.8;
  }
  .site-header {
    height: auto;
  }
  .site-logo,
  .site-menu {
    width: 100%;
    text-align: center;
  }
  .site-header nav {
    float: none;
    padding-top: 0px;
  }
  .site-header ul {
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .site-header li {
    margin-bottom: 0px;
  }
  .site-header li a {

  }
  .site-main {
    padding-top: 16px;
  }
  .site-main-container {
    padding: 0px;
  }
  .entry {
    margin-bottom: 32px;
  }
  .entry header {
    padding: 16px 16px 0px;
  }
  .entry h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .entry-meta {
    font-size: 16px;
  }
  .entry-content {
    padding: 16px;
  }
  .single-entry {
    margin-bottom: 0px;
  }
  .single-entry header {
    padding: 0px;
  }
  .single-entry h1 {
    font-size: 24px;
  }
  .site-footer {
    padding: 32px 0px;
  }
  footer nav {
    margin-bottom: 16px;
  }
}
