<footer class="site-footer">
  <nav>
    <ul class="list-inline list-unstyled">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/privacy-policy/">Privacy Policy</a></li>
    </ul>
  </nav>
  <p class="copyright">&copy; <%= date(new Date(), 'YYYY') %>, <%= config.author || config.title %>.</p>
</footer>
